# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.

name: proselint

on:
  push:
    branches:
      - master
      - '*/ci'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: install prereqs
        run: |
          sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo rm -f /var/lib/man-db/auto-update
          sudo apt-get -o Dpkg::Use-Pty=0 install \
            python3-proselint

      - name: trim off quoted parts
        run: find . -name "*.md" -print0 | xargs -0 -n1 .github/scripts/cleanmd.pl

      # config file help: https://github.com/amperser/proselint/
      - name: store proselint config
        run: |
          echo '{' > $HOME/.proselintrc
          echo '   "checks": {' >> $HOME/.proselintrc
          echo '     "typography.diacritical_marks": false,' >> $HOME/.proselintrc
          echo '     "typography.symbols": false,' >> $HOME/.proselintrc
          echo '     "annotations.misc": false' >> $HOME/.proselintrc
          echo '   }' >> $HOME/.proselintrc
          echo '}' >> $HOME/.proselintrc

      - name: check prose
        run: make check
