name: proselint

on:
  # Trigger the workflow on push or pull requests, but only for the
  # master branch
  push:
    branches:
    - master
    - '*/ci'
  pull_request:
    branches:
    - master

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install prereqs
      run: sudo apt-get install python3-proselint

    # config file help: https://github.com/amperser/proselint/
    - name: store proselint config
      run: |
        echo '{' > $HOME/.proselintrc
        echo '   "checks": {' >> $HOME/.proselintrc
        echo '     "typography.diacritical_marks": false,' >> $HOME/.proselintrc
        echo '     "typography.symbols": false,' >> $HOME/.proselintrc
        echo '     "annotations.misc": false' >> $HOME/.proselintrc
        echo '   }' >> $HOME/.proselintrc
        echo '}' >> $HOME/.proselintrc

    - name: check prose
      run: make check
