# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.

name: pyspelling

on:
  push:
    branches:
      - master
    paths:
      - '**.md'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Check Spelling
        uses: UnicornGlobal/spellcheck-github-actions@d79092bf8a9f8e89f04b22a65bfd67e045a1f8d5
