name: spell
on:
  push:
    branches:
      - master
    paths:
      - '**.md'
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check Spelling
      uses: UnicornGlobal/spellcheck-github-actions@master
