# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.

name: verify-titles
on:
  push:
    branches:
      - master
    paths:
      - '**.md'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: build pdf
        run: .github/scripts/verify-titles.pl SUMMARY.md
